.container {
  &__pagination {
    margin: 1rem 0 0;
  }
}

.catlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__cat {
    height: 350px;
    width: 350px;
    max-width: 400px;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    transition: transform 0.15s ease-in-out;

    @media only screen and (max-width: 450px) {
      width: 75%;
      margin: 1rem 0;
    }

    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }

    img {
      width: 100%;
      height: 65%;
      object-fit: cover;
      object-position: center;
    }
  }

  .cat {
    &__actions {
      display: flex;
      justify-content: center;

      button {
        margin: 0 0.5rem 0;
      }
    }

    .MuiIconButton-root {
      margin-top: -75px;
    }

    &__favourite {
      color: red;
    }

    &__unfavourite {
      color: white;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;

    &__upvote {
      background-color: #4caf50;

      &:hover {
        background-color: darken(#4caf50, 10%);
      }
    }

    &__downvote {
      background-color: #f44336;

      &:hover {
        background-color: darken(#f44336, 10%);
      }
    }

    &__voting {
      display: flex;
    }
  }
}
